*{
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
a{
  color: white;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.nav1{
  display: flex;
  position: fixed;
  top:0;
  z-index: 2;
  width: 100%;
  background-color: rgb(68, 148, 128);
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  text-decoration: none;
  
}
.navItemsContainer li a{
  color: white;
}
.navItemsContainer{
  display: flex;
 
  justify-content: space-evenly;
   width: 90vw;
   list-style: none;
   color: white;
}
.searchLi li a{
  color: white;
}
.searchLi li{
  display: inline;
}
.searchLi{
  display: block;
}
li input{
  width: 10vw;
}

 li{
  list-style: none;
 }
#heroImg{
  width: 300px;
  height: 50vh;
}
.heroContainer{
   
  
  
  margin-top: 20px;
   
  
  align-items: center;
}
.heroItem img{
   
  width: 90vw;
  height: 90vh;
   
  /* background-image: url("../public/images/heroImage.avif"); */
   
}
.heroForm{
  width: 300px;
 height: 50vh;
  background-color: #61dafb;
   

}
.heroFormBox{
  display: flex;
  height: 30vh;
   
  flex-direction: column;
  justify-content: space-evenly;
   
   
}
.formItem{
  
   width: 80%;
  height: 25px;
 
}
#submit{
width:70px;
 
align-self: flex-end;
margin-right: 5px;
}
.panelItem{
  background-color:rgb(11, 207, 158);
  width: 300px;
  height:300px ;
  /* display: inline-block; */
  position: relative;
 margin: 30px 5px;

}
.panelContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center ;
   
   
  align-items: center;
}
.panelBtn{
  
  position: absolute;
  bottom: 0;
  right: 0;
}
.active{
  background-color: white;
  color: black;
}
.scrollable-tab-container{
  background-color: rgb(68, 148, 128);
  max-width: 600px;
  margin:16px auto;
   border-radius: 4px;
   overflow: hidden;
   position: relative;
}
.scrollable-tab-container   li{
  list-style: none;
   
}
.scrollable-tab-container  ul{
  display: flex;
  gap: 16px;
  padding: 12px 24px;
  margin: 0px;
  overflow-x: scroll;
 -ms-overflow-style:none;
  scrollbar-width:none;

}
.scrollable-tab-container  a{
  background-color:  white;
  padding: 4px 24px;

  border-radius: 4px;
  white-space: nowrap;
}
.scrollable-tab-container img{
  
}
.left-arrow , .right-arrow{
position: absolute;
padding: 0 10px;
height: 100%;
top: 0px;
display: flex;
}
.sliderList li a{
  color:rgb(68, 148, 128) ;
}
.right-arrow{
  right: 0px;

  justify-content:flex-end ;
}
.courseContainer{
  display: flex;
  justify-content: center;
  align-content: center;
 
  width: 100%;
  gap: 20px;
 flex-wrap: wrap;

 position: relative;
}
.moreCourse{
  position: absolute;
  bottom: 0;
}
.moreCourseRelative{
  position: relative;
 
}
.courseItem{
  display: flex;
  width: 200px;
  flex-direction: column;
  margin: 20px 0px;
  border: 2px solid black;
}
.imagePriceCourse{
  position: relative;
}
.price{
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  bottom: 0;
   right: 0;
}
.teacherItem{
  display: flex;
  flex-direction: column;
 flex-wrap: wrap;
 margin: 30px 0px;
}
.teacherItemContainer{
 display: flex;
  justify-content: center;
 flex-wrap: wrap;
 gap: 20px;
}
.reactorMessage{
  justify-content: space-evenly;
}
.reactorMessage .msgItem{
 width:60vw;
}



.eventItemContainer {
  margin-top: 80px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  padding: 4px;
  background-color: #61dafb;
  
  gap: 20px; /* Add some gap between event items */
}

.eventItem {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  background-color: rgb(68, 148, 128);
  color: white;
  
  flex-direction: column; /* Ensure vertical stacking within the item */
  align-items: center; /* Center the content horizontally */
  padding: 10px; /* Add some padding inside each event item */
  box-sizing: border-box; /* Include padding in the width */
}

.eventItem img {
  width: 270px;
  margin: 0;
  padding: 0;
}

.eventItem h5, 
.eventItem p, 
.eventItem li {
  margin: 0; /* Reset margins */
  padding: 0; /* Reset padding */
  text-align: center; /* Center text content */
}






.contactItemContainer{
  padding: 10px;
}
#title{
   
  padding-top: 5px;
  background-color: green;
  text-align: start;
  color: white;
   height:30px
   
}
.listContainer{
  justify-content: center;
  align-content: center;
  padding-left: 20px;
}
.flex img{
width: 150px
}
.flex{
  display: flex;
}
.listContactItem{
  display: flex;
  gap: 50px;
}











.footer{
  width: 350px;
} 
.footHeader img {
  margin: 0; /* Remove any default margin */
}

#img{
  position: relative;
  align-content: center;
  z-index: 1;
}
#img #hr{
  position: absolute;
z-index: 0;
  width: 80vw;
  top: 40px;
 left:8vw
}
#map{
  width: 90vw;
}
.footerContainer{
  display: flex;
justify-content: space-between;
height: 100px;
background-color: rgb(68, 148, 128);
align-items: center;
}
.navigationCont{
  display: flex;
  width: 20vw;
  justify-content: space-evenly;
}
.socialContainer{
  display: flex;
  width: 20vw;
  justify-content: space-evenly;
}
